.vbox
{
    -fx-background-color: royalblue;
    -fx-spacing: 8px;
    -fx-padding: 8px;
    -fx-alignment: top-center;
}
.label_pos
{
    -fx-font-size: 24px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
}
.label_box
{
    -fx-spacing: 8px;
    -fx-padding: 8px;
}
#dialog
{
    -fx-hgap: 8px;
    -fx-vgap: 8px;
    -fx-alignment: center;
    -fx-padding: 8px;
}
#label_eroare
{
    -fx-text-fill: darkred;
}
#label_server
{
    -fx-font-size: 24px;
    -fx-text-fill: darkred;
    -fx-font-family: "Arial Black";
}
#center-top
{
    -fx-alignment: center;
    -fx-padding: 0px 8px 0px 8px;
}
#status-box
{
    -fx-alignment: bottom-left;
}
#post-box
{
    -fx-alignment: bottom-right;
}
#status
{
    -fx-font-size: 20px;
}
#post
{
    -fx-font-size: 20px;
}
.bold-text
{
    -fx-font-weight: bold;
}
.text-eroare
{
    -fx-text-fill: red;
}
.text-atentie
{
    -fx-text-fill: orange;
}